@import "./variables.scss";

@mixin center-container {
  max-width: $max-content-width;
  margin: 0 auto;
}
@mixin remove-default-spacing {
  padding: 0px;
  margin: 0px;
}
@mixin default-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@mixin higher($point) {
  $breakpoint: map-get($breakpoints, $point);
  @if $breakpoint {
    @media (min-width: #{$breakpoint}) {
      @content;
    }
  }
}

@mixin lower($point) {
  $breakpoint: map-get($breakpoints, $point);
  @if $breakpoint {
    @media (max-width: #{$breakpoint}) {
      @content;
    }
  }
}
