@import "./variables.scss";
@import "./mixins.scss";
@import "./fonts.scss";

//TODO: does importing styles.scss imports it's imports, if so delete it from other files
* {
  font-family: "Nunito";
}
a, li {
  color: black;
  list-style: none;
  text-decoration: none;
}
section {
  @include center-container;
  @include default-flex;
  height: 100vh;
  padding: 0px 30px;
  position: relative;
  z-index: 100;
}
