@import "./variables.scss";
@import "./mixins.scss";
@import "./fonts.scss";

//TODO: does importing styles.scss imports it's imports, if so delete it from other files
* {
  list-style: none;
  text-decoration: none;
  font-family: "Nunito";
}
a {
  color: black;
}
body {
  margin: 0px;
  background-color: $color-pallete-gray;
}
section {
  @include center-container;
  @include default-flex;
  height: 100vh;
  position: relative;
  z-index: 100;
}