@import "/src/globals/mixins.scss";
@import "/src/globals/variables.scss";

header {
  position: fixed;
  width: 100%;
  top: 0px;
  font-weight: 700;
  z-index: 101;
  @include lower(md) {
    right: 0;
    top: 0;
    width: max-content;
    display: none;
    margin-right: 0px;
    float: right;
    height: 100vh;
    background-color: $color-pallete-gray;
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
  }
  nav {
    @include center-container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    @include lower(md) {
      flex-direction: column;
      padding: 20px 50px 20px 30px;
    }
    ul {
      @include remove-default-spacing;
      display: flex;
      flex-direction: row;
      gap: 20px;
      @include lower(md) {
        flex-direction: column;
        gap: 16px;
      }
      &.section-navigation li:hover {
        border-bottom: 3px solid $color-cta;
      }
      li {
        font-size: 1.5rem;
        transition: all 0.5s;
        &:hover {
          transition: all 0.5s;
          transform: scale(1.1);
        }
      }
    }
  }
}
.hamburgerMenuIcon, .xMarkIcon {
  display: none;
  z-index: 101;
  @include lower(md) {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }
}
.social-icons {
  @include lower(md) {
    display: none;
  }
}
