@import "../../globals/variables.scss";
@import "../../globals/mixins.scss";

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.contact-wrapper,
form {
  @include default-flex;
  flex-direction: column;
  gap: 10px;
}
.contact-wrapper {
  width: 100%;
  .contact-headline {
    font-size: 42px;
    color: $color-cta;
    @include lower(lg) {
      font-size: 36px;
    }
    @include lower(sm) {
      font-size: 26px;
    }
  }
  form {
    flex-wrap: nowrap;
    width: 60%;
    @include lower(lg) {
      width: 70%;
    }
    @include lower(sm) {
      width: 90%;
    }
    input,
    textarea {
      background-color: $color-transparent-white;
      width: 100%;
      padding: 10px;
      border: 1px solid $color-white;
      border-radius: 4px;
      font-size: 15px;
      @include lower(lg) {
        max-width: 500px;
      }
      @include lower(sm) {
        width: 100%;
      }
      &::placeholder {
        color: $color-white;
      }
    }
    .error-message {
      color: #ff6b6b;
      font-size: 14px;
      margin-top: 4px;
      display: block;
      text-align: left;
      width: 100%;
    }
    input[aria-invalid="true"],
    textarea[aria-invalid="true"] {
      border-color: #ff6b6b;
    }
    button {
      cursor: pointer;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 900;
      background-color: transparent;
      border: 0px;
      border-bottom: 3px solid $color-cta;
      transition: all 0.3s ease;
      &:hover:not(:disabled) {
        transform: translateY(-2px);
        border-bottom-color: lighten($color-cta, 25%);
      }
      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
  }
}
